# Ignore Play! working directory #
node_modules/
test-results/
allure-results/
allure-report/
Downloads/
html-report.zip/
bin/
/db
.eclipse
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.idea/
html-report/
/har/
har/
# Ignore Allure and JUnit output folders in each app
apps/**/allure-results/
apps/**/test-results/

# Ignore any Playwright single results.xml in each app
apps/**/results.xml
